@use "default/color_variable";
@use "default/typography";
@use "common/spacing";
@use "common/general";
@use "common/slider";
@use "common/video-modal";
@use "common/header";
@use "common/footer";
@use "shortcode/common-page-title";
@use "shortcode/button";
@use "shortcode/service-card";
@use "shortcode/hero";
@use "shortcode/service";
@use "shortcode/funfact";
@use "shortcode/testimonal";
@use "shortcode/team";
@use "shortcode/pricing-card";
@use "shortcode/blog";
@use "shortcode/cta";
@use "shortcode/choose-us-contain";
@use "shortcode/accordion";
@use "shortcode/tab";
@use "shortcode/contact";
@use "shortcode/error-comming-card";
@use "shortcode/gallery";
@use "shortcode/event";
@use "shortcode/feature";
@use "shortcode/speakers";
@use "shortcode/moving";
@use "shortcode/about";
@use "shortcode/counterdown";
@use "shortcode/up-comming";
