/*--------------------------------------------------------------
  9. Footer
----------------------------------------------------------------*/
.footer {
  position: relative;
  z-index: 111;
  overflow: hidden;
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }
  &__bg--icon {
    position: absolute;
    left: 50%;
    transform: translate(-75%, 28%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: clamp(60px, 17vw + 30px, 394px);
    height: clamp(60px, 23vw + 30px, 568px);
  }
  &__main {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
  }
  &__left {
    max-width: 400px;
    width: 100%;
    font-size: 18px;
  }
  &__right {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__input {
    position: relative;
    &__email {
      padding-bottom: 17px;
      border: none;
      background-color: transparent;
      width: 100%;
      font-size: 16px;
      font-family: var(--body-font-family);
      border-bottom: 1px solid rgba(#0E2CA6, 0.2);
      font-size: 16px;
      color: var(--white-color);
      &:focus {
        outline: none;
        border-bottom: 1px solid var(--white-color);
      }

      &::placeholder {
        color: var(--white-color);
      }

      &::-webkit-input-placeholder {
        color: var(--white-color);
      }
    }
    &__btn {
      border: none;
      background: none;
      font-size: 16px;
      padding: 0;
      width: 100px;
      position: absolute;
      right: 0;
      gap: 5px;
      color: var(--white-color);
      display: inline-block;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
  &__logo {
    margin-bottom: 17px;
  }
  &__description {
    margin-bottom: 80px;
  }
  &__list {
    &--services {
      max-width: 200px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 37px;
    }
  }
  &__title {
    font-size: 20px;
    margin-bottom: 20px;
    &.sp__btttom-10 {
      margin-bottom: 10px;
    }
  }
  &__links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__link {
    font-size: 16px;
    font-family: var(--heading-font-family);
    position: relative;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: var(--white-color);
      margin-top: 5px;
      transition: all 0.3s ease;
      transform: scaleX(0);
      transform-origin: left;
    }
    &:hover {
      color: var(--white-color);
      &::after {
        width: 100%;
        transform: scaleX(1);
      }
    }
  }
  &__address {
    font-size: 16px;
  }

  &__phonetitle {
    font-size: 20px;
    line-height: 110%;
  }
  &__phonenumber {
    font-size: 24px;
    line-height: 110%;
    color: var(--white-color);
    font-family: var(--heading-font-family);
  }

  &__emailtitle {
    font-size: 20px;
    line-height: 110%;
  }
  &__emailtext {
    font-size: 24px;
    line-height: 110%;
    color: var(--white-color);
    font-family: var(--heading-font-family);
  }
  &__copyright {
    position: relative;
    z-index: 111;
    border-bottom: 1px solid rgba(#0E2CA6, 0.2);
    border-top: 1px solid rgba(#0E2CA6, 0.2);
    &__copytext {
      font-size: 16px;
      line-height: 110%;
      color: var(--white-color);
    }
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .footer {
    &__right {
      max-width: 100%;
    }
    &__bg--icon {
      opacity: 0.3;
    }
    &__description {
      margin-bottom: 50px;
    }
    &__copyright {
      &__inner {
        gap: 30px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
      }
    }
  }
}
@media screen and (max-width: 406px) {
  .footer {
    .tm-height-lg--33 {
      height: 30px;
    }
  }
}
