/*--------------------------------------------------------------
8. Header
----------------------------------------------------------------*/
.container-customizes {
  max-width: 1720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 15px;
}

.tm-site_header {
  position: relative;
  z-index: 100001;
}

.tm-site-branding {
  display: inline-block;
  max-width: 180px;
}

.tm-site_header.tm-style1 {
  .tm-main_header_in,
  .tm-top_header_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: 0px;
    justify-content: space-between;
    gap: 50px;
  }
  .tm-main-header-center {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &.style-2 {
    .tm-main-header-right {
      margin: 0;
      @media (min-width: 1199px) {
        display: flex;
        gap: 25px;
      }
    }
    @media (min-width: 1299px) {
      .tm-main-header-right {
        margin: 0px 0px 0px auto;
      }

      .tm-main_header_in,
      .tm-top_header_in {
        gap: 150px;
      }
      &.type-2 {
        .tm-main-header-center {
          margin: 0px 0px 0px auto;
        }
        .tm-main-header-right {
          margin: 0px;
        }
        .tm-main_header_in,
        .tm-top_header_in {
          gap: 50px;
        }
      }
      &.tm-style3 {
        .primary__btn {
          display: none;
        }
      }
    }
  }
}

.tm-site_header_full_width {
  .container {
    max-width: 100%;
    padding: 0 100px;
  }
}

.tm-nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .tm-nav_list {
    a {
      font-family: var(--heading-font-family);
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      transition: word-spacing 0.2s ease;
      color: var(--white-color);
      &:hover {
        // color: var(--primary-color);
        word-spacing: 2px;
      }
    }
  }
}

.tm-sticky_header {
  position: fixed !important;
  width: 100%;
  z-index: 999;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  transition: background-color 0.4s ease;
  &.style-2 {
    @media (min-width: 1199px) {
      .tm-nav_list {
        background-color: transparent;
      }
      background-color: transparent;
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(1px);
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        opacity: 0.1;
        background-color: var(--white-color);
      }

      .tm-nav > .tm-nav_list {
        li a {
          transition: all 0.3s ease;
          &:hover {
            transition: all 0.3s ease;
            word-spacing: 2px;
          }
        }
        .menu-item-has-children > ul {
          background-color: var(--black-color);
          & > li > a {
            transition: word-spacing 0.2s ease-in-out;
            ::after {
              border: 2px solid rgba($color: var(--white-color), $alpha: 0.7);
            }
            &:hover {
              word-spacing: 2px;
            }
          }
          a::after {
            border: 2px solid rgba($color: var(--white-color), $alpha: 0.7) !important;
          }
        }
      }
      &.tm-gescout_show > .tm-main_header {
        .tm-main_header_in {
          .tm-site_branding {
            &.default-logo {
              display: inline-block;
            }
            &.white-logo {
              display: none;
            }
          }
        }
      }
      &:not(.tm-gescout_show) {
        .tm-main_header {
          .tm-main_header_in {
            .tm-site_branding {
              &.default-logo {
                display: none;
              }
              &.white-logo {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}

.tm-gescout_sticky {
  position: fixed !important;
  top: -150px;
  transition: top 0.4s ease-in-out;
  @media (min-width: 1199px) {
    &.style-2 {
      background-color: var(--black-color);
    }
  }
}

.tm-gescout_show {
  top: 0 !important;
}

.offcanvas.offcanvas-end.style-1 {
  background-color: var(--body-bg-color);
  width: 500px;
}
.offcanvaopen-btn.style-2 {
  cursor: pointer;
}
.offcanvas-header {
  display: flex;
  gap: 7px;
  .close-text {
    text-transform: uppercase;
    font-size: 16px;
    margin-left: auto;
    color: var(--white-color);
    font-family: var(--heading-font-family);
  }
}
.btn-close {
  width: 26px;
  height: 26px;
  transform: scale(1.5);
  filter: brightness(1.3) saturate(100%) invert(25%) sepia(82%) saturate(4500%)
    hue-rotate(255deg) contrast(101%);
  transition: transform 0.2s ease, filter 0.2s ease;
  outline: none;
  box-shadow: none;
  margin: 0 !important;
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &:active {
    transform: scale(0.85);
  }
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.offcanvas-body {
  &__coustom-style {
    margin-top: 10%;
    padding-left: 50px;
    padding-right: 45px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 135px;
    height: 65vh;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 363px;
  }
  &__phone {
    font-size: 32px;
    line-height: 110%;
    color: var(--body-color);
  }
  &__email {
    display: inline;
    font-size: 32px;
    line-height: 110%;
    color: var(--white-color);
    position: relative;
    &::before {
      display: inline;
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: var(--white-color);
      transition: background-color 0.3s ease;
    }
    &:hover::before {
      background-color: var(--primary-color);
    }
  }
  &__desp {
    font-size: 24px;
    line-height: 150%;
    color: var(--body-color);
  }

  &__input {
    position: relative;
    &__email {
      padding-bottom: 17px;
      border: none;
      background-color: transparent;
      width: 100%;
      font-size: 16px;
      font-family: var(--body-font-family);
      border-bottom: 1px solid rgba(#0E2CA6, 0.2);
      font-size: 16px;
      color: var(--white-color);
      &:focus {
        outline: none;
        border-bottom: 1px solid var(--white-color);
      }

      &::placeholder {
        color: var(--white-color);
      }

      &::-webkit-input-placeholder {
        color: var(--white-color);
      }
    }
    &__btn {
      border: none;
      background: none;
      font-size: 16px;
      padding: 0;
      width: 100px;
      position: absolute;
      right: 0;
      gap: 5px;
      color: var(--white-color);
      display: inline-block;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

@media screen and (min-width: 1199px) {
  .tm-main_header {
    position: relative;
    .container-fluid {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  .tm-main_header_center,
  .tm-top_header_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .tm-site_header.tm-style1 {
    .tm-main_header_center {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      max-width: calc(100% - 300px);
    }
  }
  .tm-nav {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1.6em;
    font-size: 16px;
    .tm-nav_list {
      display: flex !important;
      flex-wrap: wrap;
      height: inherit;
      > li {
        margin-right: 40px;
        height: 80px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          display: inline-flex;
          position: relative;
          height: inherit;
          align-items: center;
        }
        > ul {
          left: 0;
          top: calc(100% + 25px);
        }
        &:hover {
          > ul {
            top: calc(100% + 0px);
            opacity: 1;
            visibility: visible;
            transition: all 0.3s ease;
          }
        }
        &.menu-item-has-children {
          > a {
            position: relative;
            &::after {
              content: "";
              position: absolute;
              bottom: 27px;
              display: inline-block;
              height: 2px;
              width: 0%;
              background-color: var(--white-color);
              transition: width 0.3s ease;
            }
            &:hover::after {
              width: 100%;
            }
          }
          &.cs_changes_color_1 {
            > a {
              position: relative;
              &::after {
                content: "";
                display: inline-block;
                height: 8px;
                width: 8px;
                transform: rotate(45deg);
                border-left: 0;
                border-top: 0;
                margin-left: 6px;
                position: relative;
                top: -2px;
                border-radius: 0px 0px 2px 0px;
              }
            }
          }
          > ul > li {
            &:last-child {
              border-bottom: none;
            }
          }
        }
      }
      li:not(.tm-mega_menu) {
        position: relative;
      }
      ul {
        width: 260px;
        position: absolute;
        box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
        border-top: 0px solid #ffffff52;
        padding: 10px 0px;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        display: block !important;
        border-radius: 0;
        transition: all 0.1s ease;

        li {
          &:hover {
            ul {
              top: 0px;
            }
            > ul {
              opacity: 1;
              visibility: visible;
              transition: all 0.4s ease;
            }
          }
        }
        a {
          display: block;
          line-height: inherit;
          padding: 7px 20px;
        }
        ul {
          top: 15px;
          left: 100%;
        }
      }
    }
  }
  .tm-munu_toggle,
  .tm-munu_dropdown_toggle {
    display: none;
  }
  .tm-nav_black_section {
    ul {
      position: relative;
      list-style: none;
      line-height: 65px;
      padding: 0px;
      li {
        margin-top: 40px;
        font-size: 55px;
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }
  .menu-item-has-black-section {
    position: relative;
    span {
      cursor: pointer;
    }
  }
  .menu-item-has-black-section > a {
    position: relative;
  }
  .menu-item-has-black-section > ul {
    padding-left: 40px;
    display: none;
    list-style: none;
    line-height: 30px;
    li {
      margin-top: 40px;
    }
  }
  .tm-munu_dropdown_toggle_1 {
    position: absolute;
    height: 30px;
    width: 35px;
    right: 20px;
    top: 9px;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 35px;
      transition: all 0.3s ease;
    }
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &.active {
      &:before {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .tm-main_header .container {
    max-width: 100%;
  }
  .tm-site_header.tm-style1 {
    .tm-nav {
      display: flex;
    }

    .tm-main-header-left {
      position: relative;
      z-index: 1111;
    }
  }
  .tm-site_header_full_width {
    .container {
      padding: 0 15px;
    }
  }
  .tm-munu_dropdown_toggle {
    position: absolute;
    height: 30px;
    width: 30px;
    right: 20px;
    top: 5px;
    z-index: 11;
    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 2px;
      width: 10px;
      transition: all 0.3s ease;
      background-color: var(--white-color);
    }
    &:before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
    &.active {
      &:before {
        transform: translate(-50%, -50%) rotate(0deg);
      }
    }
  }
  .tm-nav {
    .tm-nav_list {
      position: absolute;
      width: 100vw;
      left: -15px;
      padding: 10px 0;
      // display: none;
      // max-height: calc(100vh - 80px);
      top: 0%;
      padding-top: 75px;
      border-top: 1px solid var(--black-color);
      border-bottom: 1px solid var(--black-color);
      overflow: auto;
      // line-height: 1.6em;
      background-color: var(--black-color);
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.5s ease-in-out, opacity 0.3s ease,
        visibility 0.3s ease;

      ul {
        padding-left: 15px;
        display: none;
      }
      a {
        display: block;
        padding: 8px 20px;
        text-transform: uppercase;
        position: relative;
      }
      &.tm-show-moblie-nav-list {
        max-height: 100vh;
        height: 100vh;
        opacity: 1;
        visibility: visible;
      }
    }
    .menu-item-has-children {
      position: relative;
    }
  }
  /*Mobile Menu Button*/
  .tm-munu_toggle {
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 30px;
    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: var(--white-color);
      display: block;
    }
    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition-duration: 0s;
      transition-delay: 0.2s;
      &:before {
        content: "";
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
      &:after {
        content: "";
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }
  .tm-site_header.tm-style1 .tm-munu_toggle {
    top: 50%;
    right: 0px;
    margin-top: -13px;
  }
  .tm-toggle_active {
    span {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.2s;
      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }
      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }
  .tm-header_toolbox {
    margin-right: 50px;
  }
  .tm-site_header.tm-style1 .tm-main_header_in {
    height: 80px;
    justify-content: start;
    margin: 0px;
  }
  .tm-site_header .current-menu-item > a:before {
    display: none;
  }
  .tm-site_header.tm-style1 .tm-main_header_center {
    .tm-site_branding {
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .tm-site_header.tm-style1 {
    top: 0;
  }
  .tm-main-header-right {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .tm-site_header .container {
    max-width: 100%;
  }
  .tm-site_header.tm-style1 {
    .tm-action_box > *:not(:last-child) {
      margin-right: 25px;
    }
  }
  .tm-site_header.tm-style1 .tm-btn {
    padding: 8px;
  }
  .menu-item-has-children.active ul {
    display: block !important;
    transition: all 0.5s ease;
  }
  .tm-nav_list.tm-show-moblie-nav-list {
    transition: all 0.5s ease;
    max-height: 100vh;
    height: calc(100vh);
  }
}

@media screen and (max-width: 575px) {
  .tm-site-branding {
    max-width: 150px;
  }

  .tm-site_branding img {
    max-height: 32px;
  }
  .tm-site_header.tm-style1 .tm-btn {
    span {
      display: none;
    }
    svg {
      margin-right: 0;
      width: 20px;
      height: 20px;
    }
  }
}
