/*--------------------------------------------------------------
  4. Spacing
----------------------------------------------------------------*/

@media screen and (min-width: 992px) {
  .tm-height-0 {
    height: 0px;
  }
  .tm-height-5 {
    height: 5px;
  }
  .tm-height-10 {
    height: 10px;
  }
  .tm-height-15 {
    height: 15px;
  }
  .tm-height-20 {
    height: 20px;
  }
  .tm-height-25 {
    height: 25px;
  }
  .tm-height-30 {
    height: 30px;
  }
  .tm-height-35 {
    height: 35px;
  }
  .tm-height-40 {
    height: 40px;
  }
  .tm-height-45 {
    height: 45px;
  }
  .tm-height-50 {
    height: 50px;
  }
  .tm-height-55 {
    height: 55px;
  }
  .tm-height-60 {
    height: 60px;
  }
  .tm-height-65 {
    height: 65px;
  }
  .tm-height-70 {
    height: 70px;
  }
  .tm-height-75 {
    height: 75px;
  }
  .tm-height-80 {
    height: 80px;
  }
  .tm-height-85 {
    height: 85px;
  }
  .tm-height-90 {
    height: 90px;
  }
  .tm-height-95 {
    height: 95px;
  }
  .tm-height-100 {
    height: 100px;
  }
  .tm-height-105 {
    height: 105px;
  }
  .tm-height-110 {
    height: 110px;
  }
  .tm-height-115 {
    height: 115px;
  }
  .tm-height-120 {
    height: 120px;
  }
  .tm-height-125 {
    height: 125px;
  }
  .tm-height-130 {
    height: 130px;
  }
  .tm-height-135 {
    height: 135px;
  }
  .tm-height-140 {
    height: 140px;
  }
  .tm-height-145 {
    height: 145px;
  }
  .tm-height-150 {
    height: 150px;
  }
  .tm-height-155 {
    height: 155px;
  }
  .tm-height-160 {
    height: 160px;
  }
  .tm-height-165 {
    height: 165px;
  }
  .tm-height-170 {
    height: 170px;
  }
  .tm-height-175 {
    height: 175px;
  }
  .tm-height-180 {
    height: 180px;
  }
  .tm-height-185 {
    height: 185px;
  }
  .tm-height-190 {
    height: 190px;
  }
  .tm-height-195 {
    height: 195px;
  }
  .tm-height-200 {
    height: 200px;
  }
  .tm-height-205 {
    height: 205px;
  }
  .tm-height-210 {
    height: 210px;
  }
  .tm-height-219 {
    height: 219px;
  }
}

@media screen and (max-width: 991px) {
  .tm-height-lg-0 {
    height: 0px;
  }
  .tm-height-lg-5 {
    height: 5px;
  }
  .tm-height-lg-10 {
    height: 10px;
  }
  .tm-height-lg-15 {
    height: 15px;
  }
  .tm-height-lg-20 {
    height: 20px;
  }
  .tm-height-lg-25 {
    height: 25px;
  }
  .tm-height-lg-30 {
    height: 30px;
  }
  .tm-height-lg-35 {
    height: 35px;
  }
  .tm-height-lg-40 {
    height: 40px;
  }
  .tm-height-lg-45 {
    height: 45px;
  }
  .tm-height-lg-50 {
    height: 50px;
  }
  .tm-height-lg-55 {
    height: 55px;
  }
  .tm-height-lg-60 {
    height: 60px;
  }
  .tm-height-lg-65 {
    height: 65px;
  }
  .tm-height-lg-70 {
    height: 70px;
  }
  .tm-height-lg-75 {
    height: 75px;
  }
  .tm-height-lg-80 {
    height: 80px;
  }
  .tm-height-lg-85 {
    height: 85px;
  }
  .tm-height-lg-90 {
    height: 90px;
  }
  .tm-height-lg-95 {
    height: 95px;
  }
  .tm-height-lg-100 {
    height: 100px;
  }
  .tm-height-lg-105 {
    height: 105px;
  }
  .tm-height-lg-110 {
    height: 110px;
  }
  .tm-height-lg-115 {
    height: 115px;
  }
  .tm-height-lg-120 {
    height: 120px;
  }
  .tm-height-lg-125 {
    height: 125px;
  }
  .tm-height-lg-130 {
    height: 130px;
  }
  .tm-height-lg-135 {
    height: 135px;
  }
  .tm-height-lg-140 {
    height: 140px;
  }
  .tm-height-lg-145 {
    height: 145px;
  }
  .tm-height-lg-150 {
    height: 150px;
  }
  .tm-height-lg-155 {
    height: 155px;
  }
  .tm-height-lg-160 {
    height: 160px;
  }
  .tm-height-lg-165 {
    height: 165px;
  }
  .tm-height-lg-170 {
    height: 170px;
  }
  .tm-height-lg-175 {
    height: 175px;
  }
  .tm-height-lg-180 {
    height: 180px;
  }
  .tm-height-lg-185 {
    height: 185px;
  }
  .tm-height-lg-190 {
    height: 190px;
  }
  .tm-height-lg-195 {
    height: 195px;
  }
  .tm-height-lg-200 {
    height: 200px;
  }
  .tm-height-lg-205 {
    height: 205px;
  }
  .tm-height-lg-210 {
    height: 210px;
  }
  .tm-height-lg-219 {
    height: 219px;
  }
}
