  <footer class="text-light section-dark">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-12">
                    <div class="d-lg-flex align-items-center justify-content-between text-center">
                        <div>
                            <h3 class="fs-20">Address</h3>
                            HHICC, Stand No. 19742<br>
                            Selbourne Park,<br>
                            Bulawayo, Zimbabwe
                        </div>
                        <div>
                            <img src="assets/images/gennext/logos/logo.png" class="w-150px" alt="Generation Next"><br>
                            <div class="social-icons mb-sm-30 mt-4">
                                <a href="https://www.facebook.com/gennextoffcial"><i class="fa-brands fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/gennextofficial/"><i class="fa-brands fa-instagram"></i></a>
                                <a href="https://www.youtube.com/@gennextofficial/"><i class="fa-brands fa-youtube"></i></a>
                            </div>

                        </div>
                        <div>
                            <h3 class="fs-20">Contact Us</h3>
                            0787 963 720<br>
                            0771 982 116<br>
                            0774 562 455
                        </div>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        Copyright 2026 - Generation Next. All rights reserved.
                    </div>
                </div>
            </div>
        </div>
    </footer>
