    <header class="transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex">
                            <div class="de-flex-col">
                                <div id="logo">
                                    <a href="/">
                                        <img class="logo-main" src="assets/images/gennext/logos/logo.png" alt="Generation Next">
                                        <img class="logo-scroll" src="assets/images/gennext/logos/logo.png" alt="Generation Next">
                                        <img class="logo-mobile" src="assets/images/gennext/logos/logo.png" alt="Generation Next">
                                    </a>
                                </div>
                            </div>

                            <div class="de-flex-col">
                                <div class="de-flex-col header-col-mid">
                                    <ul id="mainmenu">
                                        <li><a class="menu-item active" href="/">Home</a></li>
                                        <li><a class="menu-item" href="#about">About</a></li>
                                        <li><a class="menu-item" href="#why-attend">Why Attend</a></li>
                                        <li><a class="menu-item" href="#speakers">Speakers</a></li>
                                        <li><a class="menu-item" href="#schedule">Program</a></li>
                                        <li><a class="menu-item" href="https://www.gennextmovement.com/registration">Register</a></li>
                                        <li><a class="menu-item" href="#venue">Venue</a></li>
                                        <li><a class="menu-item" href="#faq">FAQ</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    <span id="menu-btn"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
