<head>
    <title>Generation Next 2026 - Harare Leadership Conference</title>
    <link rel="icon" href="assets/images/gennext/logos/favicon.png" type="image/png" sizes="32x32">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" >
    <meta content="Generation Next 2026 gathers church leaders, founders, and faith enthusiasts at Celebration Centre, Borrowdale, Harare from July 16-18, 2026." name="description" >
    <meta content="Generation Next, Harare, church leadership, prophetic anointing, Harvest House International" name="keywords" >
    <meta content="Generation Next" name="author" >
  
