/*--------------------------------------------------------------
  11. Common Page Title
----------------------------------------------------------------*/

.common-section-heading {
  padding-bottom: 50px;
  &__wapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.type-2 {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  &__subtitle {
    max-width: 693px;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
  }
  &__right {
    flex: 1;
  }
  &__left {
    flex: 1;
    justify-items: end;
    &.swiper__buttons {
      justify-items: end;
    }
    .tm-stroke-normal {
      opacity: 0.3;
      font-size: 50px;
      font-weight: 600;
      letter-spacing: 1.5px;
      font-family: var(--heading-font-family);
      text-transform: uppercase;
      &.style2 {
        color: #f5f6fa;
        text-transform: uppercase;
      }
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &__title {
    font-size: 80px;
    color: var(--heading-color);
    &--small {
      font-size: 50px;
      text-transform: uppercase;
      line-height: 110%;
      font-weight: 600;
    }
    &.color-tyle {
      color: var(--black-color);
    }
  }
}

.breadcrumb {
  position: relative;
  overflow: hidden;
  max-height: 600px;
  min-height: 595px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center top;
  &.style2 {
    max-height: 400px;
    min-height: 399px;
  }
  &.style3 {
    max-height: 350px;
    min-height: 349px;
    .breadcrumb__wapper {
      margin-top: 100px;
    }
  }
  &.color2 {
    background-color: #131726;
  }
  &__wapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    &.type2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .breadcrumb {
        &__content {
          align-items: flex-start;
        }
        &__right-content {
          width: 451px;
          display: flex;
          flex-direction: column;
          .prev-btn__desp {
            align-self: flex-end;
            max-width: 258px;
            width: 100%;
            text-align: start;
            font-size: 18px;
            font-weight: 500;
            font-family: var(--heading-font-family);
            color: var(--white-color);
          }
        }
        &__inner-btn {
          display: flex;
          gap: 30px;
          .next-btn {
            display: flex;
            gap: 5px;
            cursor: pointer;
            .text {
              color: var(--white-color);
              font-size: 16px;
            }
            .icon {
              margin-top: 2px;
              i {
                line-height: 100%;
              }
            }
          }
          .dot {
            width: 10px;
            height: 10px;
            flex-shrink: 0;
            border-radius: 50%;
            background-color: var(--primary-color);
            margin-top: 7px;
          }
          .prev-btn {
            display: flex;
            gap: 5px;
            cursor: pointer;
            .text {
              color: var(--white-color);
              font-size: 16px;
            }
            .icon {
              margin-top: 2px;
              i {
                line-height: 100%;
              }
            }
          }
        }
      }
      .underline_style {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          bottom: -22px;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 1px;
          background-color: var(--white-color);
          opacity: 0.2;
        }
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
  &__title {
    font-size: 80px;
    font-weight: 600;
  }
  &__backto__home {
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    display: flex;
    gap: 5px;
  }
  &__time-info {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    &-text {
      color: var(--white-color);
      font-family: var(--heading-font-family);
      font-size: 20px;
      font-weight: 600;
      line-height: 110%;
    }
    .circle-dot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--primary-color);
    }
  }
  &__location-text {
    color: var(--white-color);
    line-height: 136%;
    &-title {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.tm-animetion-right,
.tm-animetion-left,
.tm-animetion-top {
  opacity: 0;
  transform: translate3d(0, 0, 0);
  transition: none;
  will-change: transform, opacity;
}

.tm-animetion-right {
  animation: td-animation-right 0.5s ease-out forwards;
}

@keyframes td-animation-right {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tm-animetion-left {
  animation: td-animation-left 0.5s ease-out forwards;
}

@keyframes td-animation-left {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.tm-animetion-top {
  animation: td-animation-top 0.5s ease-out forwards;
}

@keyframes td-animation-top {
  0% {
    transform: translateY(-60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .common-section-heading {
    &__right {
      flex: 2;
    }
  }
}
@media screen and (max-width: 991px) {
  .common-section-heading {
    &__wapper {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
    &__title {
      font-size: 52px;
    }
  }
  .breadcrumb {
    &__wapper {
      &.type2 {
        gap: 30px;
        flex-direction: column;
        align-items: flex-start;
        .breadcrumb {
          &__right-content {
            .prev-btn__desp {
              margin-top: 15px;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 567px) {
  .common-section-heading {
    &__wapper {
      &.type-2 {
        align-items: flex-start;
      }
    }

    &__subtitle {
      text-align: start;
    }
  }
  .breadcrumb {
    &__title {
      font-size: 62px;
    }
  }
}
