/*--------------------------------------------------------------
  25. Contact
----------------------------------------------------------------*/

.contact-form {
  .contact-title {
    font-size: 50px;
    line-height: 100%;
    font-weight: 400;
  }
  .contact-desp {
    font-size: 20px;
    line-height: 150%;
  }
  .form-inputs {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
    .type_1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      label {
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 10px;
        color: var(--black-color);
        font-weight: 600;
        text-transform: capitalize;
      }
      input,
      select {
        flex-shrink: 0;
        background-color: transparent;
        padding: 0px 10px 15px 0px;
        outline: none;
        border: 1px solid var(--light-bg-body-color);
        padding: 21px 20px;
        color: var(--white-color);
        &::placeholder {
          color: var(--white-color);
        }
        option {
          color: var(--black-color);
        }
        &:focus {
          border: 1px solid var(--primary-color);
        }
      }
    }
  }
  .form-textarea {
    display: flex;
    .type_1 {
      display: flex;
      flex-direction: column;
      width: 100%;
      label {
        font-size: 14px;
        text-transform: capitalize;
        color: var(--black-color);
        font-weight: 600;
      }
      textarea {
        color: var(--white-color);
        background-color: transparent;
        padding: 21px 20px;
        border: 1px solid var(--light-bg-body-color);
        &::placeholder {
          color: var(--white-color);
        }
        &:focus,
        &:focus-visible {
          outline: none;
          border: 1px solid var(--primary-color) !important;
        }
      }
    }
  }
  .form-check {
    cursor: pointer !important;
    .form-check-input {
      background-color: transparent;
      border: 1px solid var(--white-color);
      &:checked {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
      }
    }
    .form-check-label {
      cursor: pointer !important;
    }
  }
}

.contact-form-content {
  display: flex;
  gap: 100px;
  .contact-form-img {
    max-width: 945px;
    width: 100%;
    height: auto;
    .tm-google-map {
      height: 100%;
      width: 100%;
      iframe {
        height: 100%;
        width: 100%;
      }
    }
  }
  &.style2 {
    justify-content: space-between;
    .contact-form {
      padding: 0;
    }
  }
  .contact-form-info {
    max-width: 489px;
    width: 100%;
    height: auto;
    &__wapper {
      display: flex;
      flex-direction: column;
      gap: 70px;
    }
    &__link {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__phn {
      a {
        font-size: 36px;
      }
    }
    &__email {
      a {
        font-size: 36px;
        color: var(--white-color);
      }
    }
    &__desp {
      font-size: 24px;
      line-height: 150%;
    }

    &__recruiting-desp {
      font-size: 24px;
      color: var(--white-color);
    }
    &__recruiting-emial {
      a {
        font-size: 42px;
        color: var(--white-color);
        font-weight: 400;
        line-height: 110%;
      }
    }
  }
  .contact-form {
    max-width: 563px;
    width: 100%;
    height: auto;
    align-self: center;
    padding: 91px 15px;
  }
}

.conference-contact {
  &__wapper {
    display: flex;
    gap: 30px;
  }
  &__content {
    max-width: 572px;
    width: 100%;
    height: auto;
    padding: 113px 15px;
  }

  &__title {
    color: var(--black-color);
    font-size: 50px;
  }

  &__desp {
    color: var(--light-bg-body-color);
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 30px;
  }

  &__address-info {
    margin-bottom: 25px;
    max-width: 200px;
    width: 100%;
    .address-info {
      &-title,
      &-desp {
        font-weight: 400;
        line-height: 150%;
        font-size: 16px;
        font-family: var(--heading-font-family);
        color: var(--light-bg-body-color);
      }
    }
  }
  &__phone-email {
    display: flex;
    gap: 100px;
  }
  &__phone,
  &__email {
    &-subtitle {
      line-height: 150%;
      font-size: 16px;
      font-family: var(--heading-font-family);
      color: var(--light-bg-body-color);
    }

    &-number {
      font-size: 24px;
      font-weight: 600;
      line-height: 110%;
      color: var(--black-color);
      font-family: var(--heading-font-family);
    }
  }

  &__map {
    max-width: 757px;
    width: 100%;
    height: auto;

    .tm-google-map {
      height: 100%;
      width: 100%;
      .map {
        height: 100%;
        width: 100%;
      }
    }
  }
  &__btn {
    margin-top: 50px;
  }
}

.comments-box-content {
  .comments-content {
    .comments-title {
      margin-bottom: 36px;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 110%;
    }
    .comments-info {
      .person-info {
        display: flex;
        gap: 15px;
        align-items: center;
        .comment-person-img {
          flex-shrink: 0;
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 50%;
        }
        .person-name {
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: 110%;
        }
        .person-title {
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
        }
      }
      .person-desp {
        margin-top: 14px;
        margin-bottom: 30px;
      }
      .comment-reply-btn {
        background-color: transparent;
        border: none;
        color: var(--white-color);
        font-weight: 500;
        text-align: start;
        padding: 0;
        &:hover {
          color: var(--primary-color);
        }
      }
    }
    .comments-reply {
      margin-top: 40px;
      margin-left: 50px;
    }
  }
  .contact-form {
    .contact-title {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 25px;
    }
  }
}

.contact-form-map {
  width: 100%;
  height: 600px;
  .google-map {
    height: 100%;
    width: 100%;
    .map {
      height: 100%;
      width: 100%;
    }
  }
}

.newsletter-form {
  &__input {
    position: relative;
    width: 500px;
  }
  &__input-email {
    padding-bottom: 17px;
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    font-family: var(--body-font-family);
    border-bottom: 1px solid rgba(#0E2CA6, 0.2);
    font-size: 16px;
    color: var(--white-color);
    &:focus {
      outline: none;
      border-bottom: 1px solid var(--white-color);
    }
  }
  &__input-btn {
    border: none;
    background: none;
    font-size: 16px;
    padding: 0;
    width: 100px;
    position: absolute;
    right: 0;
    gap: 5px;
    color: var(--white-color);
    display: inline-block;
    &:hover {
      span {
        color: var(--primary-color);
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .contact-form-content {
    gap: 50px;
  }
}
@media screen and (max-width: 991px) {
  .contact-form-content {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
    .contact-form-img {
      max-width: 100%;
      flex-basis: 450px;
      overflow: hidden;
    }
    .contact-form {
      max-width: 100%;
      margin-bottom: 00px;
      padding: 0px 15px;
    }
  }
  .conference-contact {
    &__wapper {
      flex-direction: column;
      gap: 50px;
    }
    &__content {
      padding: 0;
    }
    &__map {
      height: 400px;
    }
    &__btn {
      margin-top: 30px;
    }
  }
  .contact-form-map {
    width: 100%;
    height: 400px;
  }
}
@media screen and (max-width: 767px) {
  .contact-form-content.style2 {
    .contact-form-info {
      &__wapper {
        gap: 25px;
      }
      &__link {
        gap: 5px;
      }
      &__phn {
        a {
          font-size: 22px;
        }
      }
      &__email {
        a {
          font-size: 22px;
        }
      }
      &__desp {
        font-size: 24px;
      }

      &__recruiting-desp {
        font-size: 24px;
      }
      &__recruiting-emial {
        a {
          font-size: 32px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .contact-form {
    .form-inputs {
      flex-direction: column;
    }
  }
  .newsletter-form {
    &__input {
      width: calc(100vw - 50px);
    }
  }
}
