/*--------------------------------------------------------------
  34. Counterdown
----------------------------------------------------------------*/

.counterdown {
  &__info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(22, 28, 39, 0.5);
    backdrop-filter: blur(10px);
    padding: 50px;
    &.style2 {
      height: 75%;
    }
  }
  &__subtitle {
    text-transform: uppercase;
    font-family: var(--heading-font-family);
    line-height: 110%;
    color: var(--white-color);
  }
  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 110%;
    color: var(--white-color);
  }
  &__number-content {
    display: flex;
    gap: 65px;
    margin-bottom: 50px;
    margin-top: 25px;
  }
  &__number-item {
    max-width: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
      font-size: 80px;
      color: var(--white-color);
    }
    &-subtitle {
      font-size: 20px;
      line-height: 110%;
      color: var(--white-color);
    }
  }
}
@media screen and (max-width: 1199px) {
  .counterdown {
    &.style2 {
      height: 100%;
    }
  }
}
@media screen and (max-width: 991px) {
  .counterdown {
    &.style2 {
      height: 100%;
    }
    &__number-content {
      gap: 25px;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__info {
      padding: 50px 15px;
    }
    &__number-item {
      &-title {
        font-size: 52px;
      }
    }
  }
}
