/*--------------------------------------------------------------
  28. Gallery
----------------------------------------------------------------*/

.gallery-slider {
  position: relative;
  z-index: 111;
}
.gallery.style1 {
  display: flex;

  & > .swiper-slide {
    width: 20% !important;
  }
  .gallery-img-content {
    max-width: 395px;
    height: auto;
    position: relative;
    cursor: pointer;
    .gallery-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .gallery-img-overlay {
      position: absolute;
      opacity: 0;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(#000000, 0.5);
      backdrop-filter: blur(5px);
      transition: all 0.3s ease-in;
      transform: scale(0.5);
      i {
        width: 70px;
        height: 70px;
        background-color: var(--white-color);
        transition: all 0.3s ease-in;
        border-radius: 50%;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--primary-color);
      }
    }
    transition: all 0.3s ease-in;
    &:hover {
      .gallery-img-overlay {
        opacity: 1;
        transform: scale(1);
        i {
          color: var(--primary-color);
        }
      }
    }
  }
}

.lg-custom-thumbnails {
  background-color: #040d10;
  #lg-counter {
    color: #fff;
  }
  .lg-icon {
    background-color: transparent;
    border: none;
    color: #fff;
    &:hover {
      color: var(--primary-color);
    }
  }
}

.gallery-show {
  position: relative;
  z-index: 111;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  padding: 0 10px;

  .item {
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 11;
  }
  .vertical {
    grid-row: span 2;
  }
  .horizontal {
    grid-column: span 2;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }

  .frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease;
    transform: scale(0.8);
  }
  .frame span {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }
  .item:hover .frame {
    opacity: 1;
    transform: scale(0.55);
  }
  .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    transition-delay: 0.2s;
    transform: scale(1);
  }
  .item:hover img {
    transform: scale(1.2);
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .gallery.style1 {
    & > * {
      width: 100%;
    }
  }

  .gallery-show {
    grid-template-columns: auto;
    grid-auto-rows: auto;
  }
}
