/*--------------------------------------------------------------
  19. Pricing Card
----------------------------------------------------------------*/

.package-content {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  .fade-up {
    flex-grow: 1;
  }
  .package-one,
  .package-two,
  .package-three {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &.style2 {
      background-color: var(--secondary-emphasis-color);
      transition: all 0.3s ease;
      color: var(--white-color);
      &.type2 {
        background-color: var(--white-color);
        color: var(--black-color);
        .package-head-info {
          .title {
            color: var(--black-color);
          }
          .price {
            color: var(--black-color);
          }
        }
        .visitor-select {
          color: var(--black-color);
        }
        .primary__btn {
          &.type-2 {
            background-color: var(--primary-color);
          }
        }
      }
      &.type3 {
        background-color: transparent;
        color: var(--white-color);
        .package-head-info {
          .title {
            color: var(--white-color);
          }
          .price {
            color: var(--white-color);
          }
        }
        .visitor-select {
          color: var(--white-color);
        }
        .primary__btn {
          &.type-2 {
            border: none;
            color: var(--black-color);
            background-color: var(--white-color);
          }
        }
        .package-list {
          li {
            i {
              transition: color 0.3s ease;
              color: var(--white-color);
            }
          }
        }
      }
      &.active {
        background-color: var(--primary-color);
        cursor: pointer;
        color: var(--white-color);
        .primary__btn {
          &.type-2 {
            background-color: var(--white-color);
            color: var(--black-color);
          }
        }
        .package-head-info {
          .title {
            color: var(--white-color);
          }
          .price {
            color: var(--white-color);
          }
        }
        .package-list {
          li {
            i {
              color: var(--white-color);
            }
          }
        }
        .visitor-select {
          color: var(--white-color);
        }
        &.type3 {
          background-color: var(--white-color);
          color: var(--black-color);
          .package-head-info {
            .title {
              color: var(--black-color);
            }
            .price {
              color: var(--black-color);
            }
          }
          .visitor-select {
            color: var(--black-color);
          }
          .primary__btn {
            &.type-2 {
              color: var(--white-color);
              background-color: var(--primary-color);
            }
          }
          .package-list {
            li {
              i {
                transition: color 0.3s ease;
                color: var(--primary-color);
              }
            }
          }
        }
      }
    }

    .package-head-info {
      position: relative;
      margin-top: 50px;

      .title {
        font-size: 24px;
        color: var(--white-color);
        margin-bottom: 10px;
        font-family: var(--heading-font-family);
        font-weight: 600;
      }
      .price {
        color: var(--white-color);
        font-size: 50px;
        margin-bottom: 20px;
        font-family: var(--heading-font-family);
      }
      .duration {
        font-size: 18px;
      }
    }

    .border-horizontal {
      width: 100%;
      height: 1px;
      background-color: transparent;
      opacity: 0.05;
      margin-top: 20px;
      margin-bottom: 40px;
    }
    .package-list {
      text-align: start;
      max-width: 320px;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 20px;
      li {
        display: flex;
        gap: 10px;
        i {
          transition: color 0.3s ease;
          color: var(--primary-color);
        }
      }
    }
    .primary__btn {
      &.type-2 {
        margin-top: 70px;
        margin-bottom: 50px;
        border: 1px solid var(--white-color);
        background-color: transparent;
        color: var(--white-color);
      }
    }
  }

  .package-content__info {
    max-width: 510px;
    width: 100%;
    &-wapper {
      max-width: 380px;
      width: 100%;
    }
    &-title {
      font-size: 80px;
      color: var(--black-color);
      line-height: 110%;
      margin-bottom: 20px;

      &--small {
        font-size: 50px;
        font-weight: 600;
        color: var(--black-color);
        line-height: 110%;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
    }
    &-desp {
      color: var(--light-bg-body-color);
      line-height: 150%;
    }
  }
}
.visitor-select {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: var(--white-color);
  cursor: pointer;
  option {
    cursor: pointer;
    background-color: transparent;
    color: var(--black-color);
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 1399px) {
  .package-content {
    &__info {
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      &-wapper {
        max-width: 500px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .package-content {
    .fade-up {
      flex-grow: 1;
    }
    .package-one,
    .package-two,
    .package-three {
      &.style2 {
        max-width: 420px;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .package-content {
    flex-direction: column;
    gap: 50px;
    align-items: center;
    .fade-up {
      width: 100%;
    }
    .package-one,
    .package-two,
    .package-three {
      &.style2 {
        max-width: 420px;
        width: 100%;
        margin: 0 auto;
      }
    }
    &__info {
      &-title {
        font-size: 52px;
      }
    }
  }
}
