/*--------------------------------------------------------------
  13. Service Card
----------------------------------------------------------------*/

.services {
  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 115px;
  }
  &-item {
    max-width: 380px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    gap: 15px;
    &:hover {
      color: var(--body-color);
    }
    &__title {
      font-size: 36px;
      font-weight: 600;
    }
    &__body {
      flex: 1 1 auto;
    }
    &__desp {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;
    }
    &__bottom {
      display: flex;
      gap: 10px;
      align-items: flex-end;
      width: calc(100% - 32px);
    }
    &__border {
      flex-grow: 1;
      .border-one {
        width: 100%;
        height: 1px;
        background-color: var(--primary-color);
      }
    }
    &__arrow-icon {
      i {
        transition: color 0.3s ease;
        color: rgba(#0E2CA6, 0.2);
        font-size: 50px;
      }
    }

    &:hover {
      .services-item__arrow-icon {
        i {
          color: rgba(#0E2CA6, 1);
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .services {
    &-item {
      max-width: 338px;
    }
  }
}
@media screen and (max-width: 767px) {
  .services {
    &__items {
      row-gap: 50px;
      justify-content: center;
    }
  }
}
