/*--------------------------------------------------------------
  31. Speakers
----------------------------------------------------------------*/

.speakers-section {
  &__wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__left-sider {
    width: 100%;
    max-width: 870px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    &-cards {
      display: flex;
      gap: 30px;
      align-items: flex-end;
      gap: 30px;
      justify-content: space-between;
    }
  }
  &__right-sider {
    max-width: 420px;
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__title {
    font-size: 80px;
    margin-bottom: 65px;
    span {
      font-size: 36px;
    }
  }
}
.speakers-card {
  max-width: 420px;
  height: 100%;
  width: 100%;
  position: relative;
  .speakers-top__img {
    margin-bottom: 30px;
    position: relative;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .speakers-main__button-content {
      display: flex;
      position: absolute;
      right: 30px;
      width: 70px;
      z-index: 2;
      justify-content: center;
      align-items: center;
    }
    .icon.trigger {
      width: 70px;
      height: 70px;
      flex-shrink: 0;
      border: none;
      border-radius: 50%;
      background: var(--white-color);
      z-index: 2;
      &.type2 {
        width: 50px;
        height: 50px;
        .arrow-up__icon {
          line-height: 100%;
          i {
            font-size: 30px;
          }
        }
        .link__icon {
          line-height: 100%;
          i {
            font-size: 20px;
            line-height: 100%;
          }
        }
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.9) 100%
      );
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }
  }
  &:hover .speakers-top__img::after {
    opacity: 1;
    pointer-events: auto;
  }
  &__info {
    &.style-2 {
      position: absolute;
      bottom: 60px;
      left: 30px;
      max-width: 280px;
      width: 100%;
      z-index: 2;
    }

    &:hover {
      .speakers-card__title {
        color: var(--primary-color);
      }
    }
  }
  &__title {
    margin-bottom: 10px;
    text-transform: capitalize;
    transition: color 0.3s ease;
  }
  &__subtitle {
    font-size: 18px;
    line-height: 120%;
    color: var(--body-color);
  }
}
.speakers-top__img__social {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  .icon {
    display: inline-flex;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 50%;
    background: var(--white-color);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease;
    pointer-events: none;

    i {
      font-size: 15px;
      color: var(--black-color);
      transition: color 0.4s ease;
      line-height: 100%;
    }

    &.trigger {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      position: relative;

      .arrow-up__icon {
        position: absolute;
        left: 45%;
        top: 50%;
        display: inline;
        transform: translate(-50%, -45%) scale(0.5) rotate(90deg);
        opacity: 0;
        transition: all 0.3s ease;
        transform-origin: center center;
        i {
          font-size: 40px;
          color: var(--primary-color);
        }
      }

      .link__icon {
        display: inline;
        position: absolute;
        left: 50%;
        top: 52%;
        transform: translate(-52%, -50%) scale(1);
        opacity: 1;
        transform-origin: center center;
        transition: all 0.3s ease;
        i {
          font-size: 25px;
          color: var(--primary-color);
        }
      }
    }
  }

  // Hovering over the whole block
  &:hover {
    .icon:nth-child(4) {
      .arrow-up__icon {
        opacity: 1;
        left: 45%;
        top: 50%;
        transition-delay: 0.3s;
        transform: translate(-50%, -45%) scale(1) rotate(90deg);
      }

      .link__icon {
        opacity: 0;
        left: 50%;
        top: 52%;
        transform: translate(-52%, -50%) scale(0.5);
      }
    }
    .icon:nth-child(3) {
      transition-delay: 0.1s;
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    .icon:nth-child(2) {
      transition-delay: 0.2s;
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }

    .icon:nth-child(1) {
      transition-delay: 0.3s;
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  // Reverse animation on hover out
  &:not(:hover) {
    .icon:nth-child(1) {
      transition-delay: 0.3s;
      transform: translateY(20px);
      opacity: 0;
      pointer-events: none;
    }

    .icon:nth-child(2) {
      transition-delay: 0.2s;
      transform: translateY(20px);
      opacity: 0;
      pointer-events: none;
    }

    .icon:nth-child(3) {
      transition-delay: 0.1s;
      transform: translateY(20px);
      opacity: 0;
      pointer-events: none;
    }
  }
}
.speakers-btn__content-wrapper {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 30px;
}
.edconfer-speakers-card {
  &__title {
    font-size: 80px;
    margin-bottom: 50px;
    color: var(--white-color);
    max-width: 628px;
    width: 100%;
    .highlight {
      font-size: 36px;
    }
  }
  &__content {
    position: relative;
  }
}
.oc-speakers-card {
  &__title {
    font-size: 50px;
    margin-bottom: 50px;
    color: var(--black-color);
  }
  &__content {
    position: relative;
  }
}

.previous-hit-event {
  &__section-title {
    font-size: 42px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &__item {
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 645px;
    width: 100%;
    line-height: 110%;
  }
  &__right-side {
    max-width: 280px;
    width: 100%;
  }
  &__left-side {
    max-width: 335px;
    width: 100%;
  }
  &__item-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 18px;
    transition: color 0.3s ease;
  }
  &__location {
    color: var(--white-color);
    margin-bottom: 35px;
    span {
      font-size: 20px;
    }
  }
  &__date {
    color: var(--white-color);
  }
}

.previous-hit-event__item {
  &:hover {
    .previous-hit-event {
      &__item-title {
        color: var(--primary-color);
      }
    }
  }
}

.speaker-details {
  display: flex;
  gap: clamp(80px, 5vw, 145px);
  justify-content: space-between;
  &__right-side {
    max-width: 420px;
    width: 100%;
    flex-shrink: 1;
  }
  &__left-side {
    flex-shrink: 2;
    max-width: 757px;
  }
  &__speaker-img {
    width: 100%;
    height: 100%;
  }
  &__speaker-img-info {
    margin-top: 50px;
    margin-bottom: 30px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin-bottom: 6px;
        font-size: 20px;
      }
    }
    a {
      font-size: 20px;
      line-height: 110%;
      color: var(--white-color);
    }
  }
  &__speaker-scoile-info {
    .social {
      &__item {
        background-color: var(--white-color);
        i {
          color: var(--black-color);
        }
      }
    }
  }

  &__speaker-content {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }

  &__bio-title {
    font-size: 42px;
  }
  &__bio-subtitle {
    font-size: 18px;
    margin-bottom: 30px;
  }
  &__achievement {
    .accordion-benifits {
      &__content {
        padding: 0;
        max-width: 100%;
      }
      .accordion-item {
        border-bottom: 1px solid var(--primary-color);
      }
      .accordion-button {
        color: var(--white-color);
        font-size: 30px;
        &::after {
          background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9l6 6 6-6'%3E%3C/path%3E%3C/svg%3E");
        }
      }
      .accordion-body {
        color: var(--body-color);
        border-color: var(--primary-color);
      }
    }
  }
}

@media screen and (max-width: 1299px) {
  .speakers-section {
    &__left-sider {
      flex: 2;
    }
    &__right-sider {
      flex: 1;
    }
  }
  .speakers-card {
    &__info {
      &.style-2 {
        position: static;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .speakers-btn__content-wrapper {
    margin-top: 0px;
  }
  .oc-speakers-card__title {
    position: absolute;
    top: 80px;
  }
  .edconfer-speakers-card {
    &__title {
      font-size: 52px;
      .highlight {
        font-size: 36px;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .speakers-btn__content-wrapper {
    margin-top: 80px;
  }
  .speakers-section {
    &__title {
      font-size: 52px;
      margin-bottom: 30px;
    }
    &__left-sider {
      gap: 25px;
      flex: 1;
    }
    &__wrapper {
      flex-direction: column;
    }
    &__right-sider {
      flex: 1;
      max-width: 100%;
      flex-direction: row;
    }
  }
  .speaker-details {
    flex-direction: column;
    &__speaker-content {
      gap: 70px;
    }
    &__right-side {
      max-width: 100%;
      width: 100%;
      flex-shrink: 1;
    }
    &__left-side {
      flex-shrink: 2;
      max-width: 100%;
    }
  }
}
@media screen and (max-width: 767px) {
  .speakers-section {
    &__wrapper {
      gap: 50px;
    }
    &__left-sider {
      &-cards {
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
    &__right-sider {
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .speakers-card {
    max-width: none;
  }
}

@media screen and (max-width: 457px) {
  .previous-hit-event {
    &__item {
      flex-wrap: wrap;
    }
    &__right-side {
      max-width: 100%;
      width: 100%;
    }
    &__img {
      width: 100%;
    }
  }
}
