/*--------------------------------------------------------------
  18. team
----------------------------------------------------------------*/
.about-content {
  &__wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: var(--white-color);
    line-height: 110%;
    text-align: center;
    font-family: var(--heading-font-family);
    .style1 {
      margin: 0;
    }
  }
  &__info {
    text-align: center;
    font-size: 50px;
    margin-bottom: 45px;
    .highlight-text {
      color: var(--primary-color);
    }
  }
  &__btn-phone {
    margin-top: 75px;
    display: flex;
    gap: 35px;
    .about-phone-info {
      display: flex;
      gap: 15px;
      align-items: center;
      .social__icon-btn {
        transition: color 0.3s ease;
        i {
          color: var(--primary-color);
          transition: color 0.3s ease;
        }
      }
      &:hover {
        .social__icon-btn {
          background-color: var(--primary-color);
          i {
            color: var(--white-color);
          }
        }
      }
      .about-phone-text {
        font-size: 22px;
        font-weight: 500;
        color: var(--white-color);
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .about-content {
    &__info {
      font-size: 42px;
    }
    &__btn-phone {
      margin-top: 50px;
    }
  }
}
