/*--------------------------------------------------------------
  35. Up Comming
----------------------------------------------------------------*/

.up-comming {
  width: 100%;
  height: 100vh;
  &__wapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 100px;
  }
  &__timer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
  }
  &__timer {
    width: 115px;
  }

  &__title {
    font-size: 80px;
    font-weight: 600;
  }
  &__desp {
    font-size: 32px;
    color: var(--white-color);
    font-family: var(--heading-font-family);
    font-weight: 400;
  }

  &__number {
    font-weight: 600;
    font-size: 80px;
  }
  &__text {
    font-size: 24px;
    font-family: var(--heading-font-family);
  }
}

@media screen and (max-width: 991px) {
  .up-comming {
    &__wapper {
      gap: 50px;
    }
    &__timer-content {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .up-comming {
    &__title {
      font-size: 52px;
    }
    &__desp {
      font-size: 32px;
    }

    &__number {
      font-size: 52px;
    }
    &__text {
      font-size: 24px;
    }
  }
}
