@use "bootstrap/dist/css/bootstrap.min.css";

@use "swiper/scss";
@use "swiper/css";
@use "swiper/scss/navigation";
@use "swiper/scss/pagination";
@use "swiper/scss/parallax";
@use "swiper/scss/effect-fade";
@use "swiper/scss/effect-coverflow";
@use "swiper/scss/autoplay";
@use "swiper/scss/scrollbar";

@use "/public/assets/fonts/flaticon_daevnt.css";

@use "@/assets/sass/style.scss";
