/*--------------------------------------------------------------
2. Typography
----------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
html,
body {
  color: var(--body-color);
  font-family: var(--body-font-family);
  background-color: var(--body-bg-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  overflow-x: hidden;
  scroll-behavior: auto;
  padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  color: var(--heading-color);
  font-family: var(--heading-font-family);
  padding: 0px;
  margin: 0px;
  font-weight: 600;
  line-height: 100%;
  font-style: normal;
}

h1 {
  font-size: 110px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 42px;
}

h5 {
  font-size: 36px;
}

h6 {
  font-size: 24px;
}

p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  line-height: 150%;
}

ul {
  margin: 0 0 25px 0;
  padding-left: 20px;
  list-style: square outside none;
}

ol {
  padding-left: 20px;
  margin-bottom: 25px;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.6em;
  margin: 0;
}

address {
  margin: 0 0 15px;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}

button {
  color: inherit;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 0.3s ease;
}

table {
  width: 100%;
  margin-bottom: 25px;
  th {
    font-weight: 600;
    color: var(--body-color);
  }
  td,
  th {
    border-top: 1px solid var(--white-color);
    padding: 11px 10px;
  }
}

dl {
  margin-bottom: 25px;
  dt {
    font-weight: 600;
  }
}

b,
strong {
  font-weight: bold;
}

pre {
  color: var(--body-color);
  border: 1px solid var(--white-color);
  font-size: 18px;
  padding: 25px;
  border-radius: 5px;
}

kbd {
  font-size: 100%;
  background-color: var(--body-color);
  border-radius: 5px;
}
